@CHARSET "UTF-8";

@font-face {
    font-family: fontsculpt;
    src: url("../font/THCharmonman.ttf")
}

img {
    height: auto !important;
    width: 100% !important
}

body {
	height: 100%;
}

html {
    height: 100%;
	margin: 0;
	font-family: fontsculpt;
}

.imgContainer {	
	height: 100%;
	width:100%;
}

.tbl { 
	width: 0; 
	height: 0; 
	border-bottom: 100px solid #FFF; 
	border-left: 1000px solid transparent;
	right: 0;
	position:absolute;
}

.tbr { 
	width: 0; 
	height: 0; 
	border-bottom: 100px solid #FFF; 
	border-right: 1000px solid transparent;
	right: 0;
	position:absolute;
}

.ttr { 
	width: 0; 
	height: 0; 
	border-top: 100px solid #FFF; 
	border-right: 1000px solid transparent;
	bottom: 0;
	left: 0;
	position:absolute;
}

.ttl { 
	width: 0; 
	height: 0; 
	border-top: 100px solid #FFF; 
	border-left: 1000px solid transparent;
	bottom: 0;
	left: 0;
	position:absolute;
}

#title {
	position:fixed;
	width:100%;
	color: #FFF;
	top:0px;
	text-align: center;
	font-size: 6vw;
	z-index:2;
}

.content {
	text-align: center;
	font-size: 1.5vw;
}

.content-title {
	text-align: center;
	font-size: 2vw;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 50px;	
}

.cache {
	background: #FFFFFF;
	position:absolute;
	width:100%;
	min-height:100%;
	z-index:10;
}

#footer {
	background: #FFFFFF;
	position:absolute;
	width:100%;
	min-height:100%;
	opacity: 0.5;
	padding-top: 50px;
	z-index:1;
}

#social {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	width: 20%;
	margin: auto;
}


#footerline {
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
	margin-bottom:50px;
}

.cut {
	position: fixed;
	overflow: hidden;
	height: 100%;
	width:100%;
}

#img1 {
	transform: scale(1,1);
	background: url(./../img/sculptHD1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	height: 100%;
}

#img2 {
	transform: scale(1,1);
	background: url(./../img/sculptHD2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	height: 100%;
}

#img3 {
	transform: scale(1,1);
	background: url(./../img/sculptHD3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	height: 100%;
}

#bmenu1 {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 2000;
	cursor: pointer;
}

#bmenu1inside {
	position:absolute;
	width: 40px;
	height: 40px;
	background: #FF0000;	
}

#bmenu1texte {
	margin-left:45px;
	line-height:45px;
	color:#FF0000;
	font-size: 2vw;
}

#bemenu1 {
	width: 40px;
	height: 40px;
	background: #FF0000;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2000;
	cursor: pointer;
}

#menu1 {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: 0;
	background: #FFFFFF;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

.menutexte {
	position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	width:100%;
	text-align: center;
	font-size: 2vw;
}

.menu1texte {
	margin-top:10px;
}

a {
	color: #000;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	color: #00FF00;
}