@CHARSET "UTF-8";

@font-face {
    font-family: fontsculpt;
    src: url("../font/THCharmonman.ttf");
}

html {
    height: 100%;
	margin: 0;
	font-family: fontsculpt;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    overflow-x: hidden;
}

body {
	height: 100%;
}

#warp {
	background: #000000 url("../img/black.jpg") center top;
	width:100%;
	height:200%;
}

#content {
	height: 100%;
}

#topbar {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#firstTopBar {
	background: #FF0000;
	height: 70px;
}

#secondTopBar {
	background: #00FF00;
	height: 40px;
}

#marginLeft {
	position: fixed;
	height: 100%;
	width: 20px;
	top: 0;
	background-color: #FFFFFF;
	z-index: 100;
}

#marginRight {
	position: fixed;
	height: 100%;
	width: 20px;
	top: 0;
	right: 0;
	background-color: #FFFFFF;
	z-index: 100;
}

#slide1, #slide2, #slide3 {
	height: 100%;
	padding-top:100px;
}


.imgContainer {
	position: absolute; 
	width: 2400px;
	height: 1600px;
	overflow:hidden;
	transform-origin: top left;
}

.imgHolder {
	position:fixed;
	width: 100%;
	overflow: hidden;
}














